a.nav-link.active {
    background-color: green;
}

.force {background:#FF0000;}
.moyenne {background:#FFCC33;}
.faible {background:#EEE8AA;}
.aucune {background:#CCFF99;}
.inconnue {background:#FFCCFF;}